.layout_container {
    height: 100%;
    padding: 0 30px;
}

.layout_container header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout_container header h1 {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.layout_container header div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.layout_container header i {
    font-size: 18px;
    padding: 2px;
    cursor: pointer;
}

.layout_container main {
    height: 88vh;
}